<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.grybkov.focus-on-work</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>814A3485-C0A2-4505-AE78-FBD5B99C01E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>06E44630-D35F-4FE8-8497-D1C011084C5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A335D22-5F1E-4378-9935-58820997919B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>814A3485-C0A2-4505-AE78-FBD5B99C01E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62534FE0-1E85-4E87-87E4-52A87E2124BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44B7AACA-FFC2-4E89-8AF3-F4C866268B83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8801E017-3F32-4942-AFB1-46357798901D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BCC934-D0CF-4C7C-A1BF-C85B24678937</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44B7AACA-FFC2-4E89-8AF3-F4C866268B83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E44630-D35F-4FE8-8497-D1C011084C5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60414749-4849-4B64-9DF8-53F5836EE370</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62534FE0-1E85-4E87-87E4-52A87E2124BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8801E017-3F32-4942-AFB1-46357798901D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>814A3485-C0A2-4505-AE78-FBD5B99C01E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8801E017-3F32-4942-AFB1-46357798901D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADC01FCA-1739-4F57-8DEE-BB1A3E92C717</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D4082BE-71D6-460E-A1B8-604E385CF204</key>
		<array/>
		<key>9B383CE2-648B-4340-B01F-00653A94B194</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D4082BE-71D6-460E-A1B8-604E385CF204</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADC01FCA-1739-4F57-8DEE-BB1A3E92C717</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60414749-4849-4B64-9DF8-53F5836EE370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF643073-D76C-4993-985F-EFBC744BB8A9</key>
		<array/>
		<key>D9B36286-D868-4C63-92F7-9E19970612C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DD8BC29-2D43-4AFA-A900-FDB0EF528EB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF643073-D76C-4993-985F-EFBC744BB8A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4123136-A52E-4062-89E1-6713C4D8BE98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9B36286-D868-4C63-92F7-9E19970612C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B383CE2-648B-4340-B01F-00653A94B194</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44BCC934-D0CF-4C7C-A1BF-C85B24678937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A335D22-5F1E-4378-9935-58820997919B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</key>
		<array/>
		<key>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2001184-A3A7-4C41-BF71-856A4FC37D71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Illia Grybkov</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus On Work</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./node_modules/.bin/run-node app.js open:things:today</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DD8BC29-2D43-4AFA-A900-FDB0EF528EB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open_things</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D9B36286-D868-4C63-92F7-9E19970612C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fow</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node app.js menu:tasklist</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>app.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Focus on work</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E4123136-A52E-4062-89E1-6713C4D8BE98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $(./node_modules/.bin/run-node app.js open:taskpaper:today)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D4082BE-71D6-460E-A1B8-604E385CF204</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open_taskpaper</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9B383CE2-648B-4340-B01F-00653A94B194</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node app.js tasks:list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>app.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose a task...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  app = Application.currentApplication()
  app.includeStandardAdditions = true
  path = app.chooseFile({ withPrompt: "Choose a TaskPaper document to work on", ofType: ["public.text"]})
  return path.toString().trim()
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62534FE0-1E85-4E87-87E4-52A87E2124BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file=$1

./node_modules/.bin/run-node app.js config:set "taskpaper.file" "$file"
echo "$file"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tasks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>06E44630-D35F-4FE8-8497-D1C011084C5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>taskpaper_set_file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>last_task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>44BCC934-D0CF-4C7C-A1BF-C85B24678937</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{var:last_task}</string>
					<key>task_source</key>
					<string>{var:last_task_source}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>44B7AACA-FFC2-4E89-8AF3-F4C866268B83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>stop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1A335D22-5F1E-4378-9935-58820997919B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"25 minutes","arg":"25","subtitle":""},{"title":"2 minutes","arg":"2"},{"title":"45 minutes","arg":"45","subtitle":""},{"title":"5 minutes","arg":"5","subtitle":""},{"title":"10 minutes","arg":"10","subtitle":""},{"title":"15 minutes","arg":"15","subtitle":""},{"title":"60 minutes","arg":"60","subtitle":"1 hour"},{"title":"90 minutes","arg":"90","subtitle":"1.5 hour"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>How long to you plan to work?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>ADC01FCA-1739-4F57-8DEE-BB1A3E92C717</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node app.js scenario:work:start</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF643073-D76C-4993-985F-EFBC744BB8A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8801E017-3F32-4942-AFB1-46357798901D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>time</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>60414749-4849-4B64-9DF8-53F5836EE370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node app.js scenario:work:stop
echo $?</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:task}</string>
				<key>title</key>
				<string>It's time to take a rest!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C2001184-A3A7-4C41-BF71-856A4FC37D71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "$((60 * $query))"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:task}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>814A3485-C0A2-4505-AE78-FBD5B99C01E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:time}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Wait</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>06E44630-D35F-4FE8-8497-D1C011084C5A</key>
		<dict>
			<key>note</key>
			<string>Clean input</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>0DD8BC29-2D43-4AFA-A900-FDB0EF528EB6</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Open things
&gt; open:things:today</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>1A335D22-5F1E-4378-9935-58820997919B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Stop</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Transform time to seconds</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Set TaskPaper file</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>44B7AACA-FFC2-4E89-8AF3-F4C866268B83</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Save task to variable</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>44BCC934-D0CF-4C7C-A1BF-C85B24678937</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Last task</string>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>670</integer>
		</dict>
		<key>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>60414749-4849-4B64-9DF8-53F5836EE370</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Save time to variable</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>62534FE0-1E85-4E87-87E4-52A87E2124BF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Choose TaskPaper file</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</key>
		<dict>
			<key>note</key>
			<string>Get tasks</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>814A3485-C0A2-4505-AE78-FBD5B99C01E6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>8801E017-3F32-4942-AFB1-46357798901D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Clean input</string>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>8D4082BE-71D6-460E-A1B8-604E385CF204</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Open TaskPaper
&gt; open:taskpaper:today</string>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>9B383CE2-648B-4340-B01F-00653A94B194</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Open TaskPaper</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Stop everything
&gt; scenario:work:stop</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Set query to time variable</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>ADC01FCA-1739-4F57-8DEE-BB1A3E92C717</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>BF643073-D76C-4993-985F-EFBC744BB8A9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Start everything
&gt; scenario:work:start</string>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>C2001184-A3A7-4C41-BF71-856A4FC37D71</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>D9B36286-D868-4C63-92F7-9E19970612C8</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Open Things</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>E4123136-A52E-4062-89E1-6713C4D8BE98</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Save TaskPaper file to config
&gt; config:set</string>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Show notification only if previous task not failed</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://grybkov.com</string>
</dict>
</plist>
