<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.grybkov.focus-on-work</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>006C78FE-1878-4979-B8EB-7EB6DD779948</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3670C517-45C1-4DBF-B8AB-32118F7EB69D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>814A3485-C0A2-4505-AE78-FBD5B99C01E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>06E44630-D35F-4FE8-8497-D1C011084C5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E2A78B6-0678-4E1F-AA55-64FBD34960E1</key>
		<array/>
		<key>18D6CE79-F897-489C-9681-F127007AEE83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2E94B76-11B9-45E4-A734-24A4D9D2FF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A335D22-5F1E-4378-9935-58820997919B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>814A3485-C0A2-4505-AE78-FBD5B99C01E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31BD92D5-A090-4AA7-A6C4-B66A1B71D372</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E2A78B6-0678-4E1F-AA55-64FBD34960E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32040E5F-5335-438C-9096-E2372486F20C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18D6CE79-F897-489C-9681-F127007AEE83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62534FE0-1E85-4E87-87E4-52A87E2124BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3670C517-45C1-4DBF-B8AB-32118F7EB69D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31BD92D5-A090-4AA7-A6C4-B66A1B71D372</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0347747-6E73-4B39-A886-BF975077ADFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A614917C-407D-4326-9EC1-7C679327906C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8358AF1-A643-432A-9B7C-D61DA6859AD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BCC934-D0CF-4C7C-A1BF-C85B24678937</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8801E017-3F32-4942-AFB1-46357798901D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E44630-D35F-4FE8-8497-D1C011084C5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62534FE0-1E85-4E87-87E4-52A87E2124BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8801E017-3F32-4942-AFB1-46357798901D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6592B76C-E03B-4751-8DE0-C7101EE054C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD09730A-4450-455C-8DFB-C1E9ADA81A5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6FC97B68-5CAA-40A1-B8C1-B775B7904460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2E94B76-11B9-45E4-A734-24A4D9D2FF35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>715296B3-5ECC-4F41-80DF-6855AE5BDCBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3021BCE1-1A31-4B10-94A4-AF809D8DFD44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>814A3485-C0A2-4505-AE78-FBD5B99C01E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8533EA8D-E5FD-4900-81F9-E912F5FEA6E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6592B76C-E03B-4751-8DE0-C7101EE054C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8801E017-3F32-4942-AFB1-46357798901D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E108C268-F184-4558-9BB6-35136285627A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A086F09-4899-4DAD-9529-60760786D3E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A504DA76-9A88-4F30-9ACF-55B76CED37D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>715296B3-5ECC-4F41-80DF-6855AE5BDCBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B383CE2-648B-4340-B01F-00653A94B194</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32040E5F-5335-438C-9096-E2372486F20C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A086F09-4899-4DAD-9529-60760786D3E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A504DA76-9A88-4F30-9ACF-55B76CED37D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FC97B68-5CAA-40A1-B8C1-B775B7904460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A614917C-407D-4326-9EC1-7C679327906C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F5B650-78BB-4473-875C-963F34438FE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF643073-D76C-4993-985F-EFBC744BB8A9</key>
		<array/>
		<key>C6F50C36-B545-4689-B827-B365C6DB2D96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6592B76C-E03B-4751-8DE0-C7101EE054C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8358AF1-A643-432A-9B7C-D61DA6859AD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BA9D531-2F44-4359-AFB9-D133EAE853C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD09730A-4450-455C-8DFB-C1E9ADA81A5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>006C78FE-1878-4979-B8EB-7EB6DD779948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0347747-6E73-4B39-A886-BF975077ADFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D5E894B-635F-45D5-BE3D-9F2DA6ED5890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E108C268-F184-4558-9BB6-35136285627A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF643073-D76C-4993-985F-EFBC744BB8A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4123136-A52E-4062-89E1-6713C4D8BE98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B383CE2-648B-4340-B01F-00653A94B194</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8533EA8D-E5FD-4900-81F9-E912F5FEA6E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>44BCC934-D0CF-4C7C-A1BF-C85B24678937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A335D22-5F1E-4378-9935-58820997919B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E44630-D35F-4FE8-8497-D1C011084C5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2001184-A3A7-4C41-BF71-856A4FC37D71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Illia Grybkov</string>
	<key>description</key>
	<string>Alfred workflow which forces to focus on work and tracks a time for you</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Focus On Work</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:application}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>32040E5F-5335-438C-9096-E2372486F20C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Environment variable "application" is not set</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>18D6CE79-F897-489C-9681-F127007AEE83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>B2E94B76-11B9-45E4-A734-24A4D9D2FF35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A504DA76-9A88-4F30-9ACF-55B76CED37D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open-app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9B383CE2-648B-4340-B01F-00653A94B194</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Environment variable "action" is not set</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6FC97B68-5CAA-40A1-B8C1-B775B7904460</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js open:app</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3021BCE1-1A31-4B10-94A4-AF809D8DFD44</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>715296B3-5ECC-4F41-80DF-6855AE5BDCBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:application}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9A086F09-4899-4DAD-9529-60760786D3E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js settings:set</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E2A78B6-0678-4E1F-AA55-64FBD34960E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fow</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js menu:main</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>lib/alfred-cli.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Focus on work</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E4123136-A52E-4062-89E1-6713C4D8BE98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>setting-set-value</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>31BD92D5-A090-4AA7-A6C4-B66A1B71D372</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js settings:set</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D5E894B-635F-45D5-BE3D-9F2DA6ED5890</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>setting-remove-value</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E0347747-6E73-4B39-A886-BF975077ADFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js menu:setting-options</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>006C78FE-1878-4979-B8EB-7EB6DD779948</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js menu:settings</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DD09730A-4450-455C-8DFB-C1E9ADA81A5D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6592B76C-E03B-4751-8DE0-C7101EE054C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8533EA8D-E5FD-4900-81F9-E912F5FEA6E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3670C517-45C1-4DBF-B8AB-32118F7EB69D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fow:settings</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Focus on work: Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C6F50C36-B545-4689-B827-B365C6DB2D96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js settings:set</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>69F5B650-78BB-4473-875C-963F34438FE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js settings:set</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3BA9D531-2F44-4359-AFB9-D133EAE853C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>setting-remove-key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A614917C-407D-4326-9EC1-7C679327906C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>setting-add-value-to-set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C8358AF1-A643-432A-9B7C-D61DA6859AD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  app = Application.currentApplication()
  app.includeStandardAdditions = true
  path = app.chooseFile({ withPrompt: "Choose a TaskPaper document to work on", ofType: ["public.text"]})
  return path.toString().trim()
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62534FE0-1E85-4E87-87E4-52A87E2124BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>file=$1

./node_modules/.bin/run-node lib/alfred-cli.js config:set "settings.taskpaper.file" "$file"
echo "$file"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>taskpaper_set_file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js menu:tasks # -- --filter "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>lib/alfred-cli.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose a task...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>recent-task</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>44BCC934-D0CF-4C7C-A1BF-C85B24678937</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tasks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>06E44630-D35F-4FE8-8497-D1C011084C5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>stop-work</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>1A335D22-5F1E-4378-9935-58820997919B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js scenario:work:start</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF643073-D76C-4993-985F-EFBC744BB8A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js menu:time</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>lib/alfred-cli.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose a task...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E108C268-F184-4558-9BB6-35136285627A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8801E017-3F32-4942-AFB1-46357798901D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/alfred-cli.js scenario:work:stop
echo $?</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:task}</string>
				<key>title</key>
				<string>It's time to take a rest!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C2001184-A3A7-4C41-BF71-856A4FC37D71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:timeInMinutes}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "$((60 * $query))"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:sessionUuid}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>814A3485-C0A2-4505-AE78-FBD5B99C01E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>006C78FE-1878-4979-B8EB-7EB6DD779948</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Show setting options</string>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>033419EF-9ABF-41F6-85FA-A3A82B55CFAB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Wait</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
		<key>06E44630-D35F-4FE8-8497-D1C011084C5A</key>
		<dict>
			<key>note</key>
			<string>Clean input</string>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>0E2A78B6-0678-4E1F-AA55-64FBD34960E1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>settings:set</string>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>18D6CE79-F897-489C-9681-F127007AEE83</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Set debug message</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1A335D22-5F1E-4378-9935-58820997919B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Stop</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>2828C36B-6C21-4A9E-B347-C5D2CD4BDC03</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Transform time to seconds</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>3021BCE1-1A31-4B10-94A4-AF809D8DFD44</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open Application</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>31BD92D5-A090-4AA7-A6C4-B66A1B71D372</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>setting-set-value</string>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>32040E5F-5335-438C-9096-E2372486F20C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>If "application" variable is not set</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>32A7B5B1-E733-4F71-B7A3-91AF5CF88A34</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Set TaskPaper file</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>3670C517-45C1-4DBF-B8AB-32118F7EB69D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>3BA9D531-2F44-4359-AFB9-D133EAE853C4</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>settings:set</string>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>44BCC934-D0CF-4C7C-A1BF-C85B24678937</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Last task</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>4D5E894B-635F-45D5-BE3D-9F2DA6ED5890</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>settings:set</string>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>5B196F6E-5E0B-4BF1-B589-B0DC8A481306</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>62534FE0-1E85-4E87-87E4-52A87E2124BF</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Choose TaskPaper file</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>6483A4BC-08F5-43BF-84C0-1288E9ACE1D9</key>
		<dict>
			<key>note</key>
			<string>Get tasks</string>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>6592B76C-E03B-4751-8DE0-C7101EE054C6</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>69F5B650-78BB-4473-875C-963F34438FE5</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>settings:set</string>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>6FC97B68-5CAA-40A1-B8C1-B775B7904460</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Set debug message</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>715296B3-5ECC-4F41-80DF-6855AE5BDCBD</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>If "action" variable is set</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>814A3485-C0A2-4505-AE78-FBD5B99C01E6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
		<key>8533EA8D-E5FD-4900-81F9-E912F5FEA6E9</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Settings</string>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>8801E017-3F32-4942-AFB1-46357798901D</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Clean input</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>9A086F09-4899-4DAD-9529-60760786D3E5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>If "application" variable is set</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>9B383CE2-648B-4340-B01F-00653A94B194</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Open Application</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A0FFB7C4-CD7A-42C8-BD43-511A2944459E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Stop everything
&gt; scenario:work:stop</string>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>A504DA76-9A88-4F30-9ACF-55B76CED37D2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>If "action" variable is not set</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A614917C-407D-4326-9EC1-7C679327906C</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>setting-remove-key</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>AD11FED5-ED31-4D4C-A7ED-76FC67306C7A</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Set query to time variable</string>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>B2E94B76-11B9-45E4-A734-24A4D9D2FF35</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>BF643073-D76C-4993-985F-EFBC744BB8A9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Start everything
&gt; scenario:work:start</string>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>C2001184-A3A7-4C41-BF71-856A4FC37D71</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>C6F50C36-B545-4689-B827-B365C6DB2D96</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>C8358AF1-A643-432A-9B7C-D61DA6859AD0</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>setting-add-value-to-set</string>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>DD09730A-4450-455C-8DFB-C1E9ADA81A5D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Show settings</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>E0347747-6E73-4B39-A886-BF975077ADFA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>setting-remove-value</string>
			<key>xpos</key>
			<integer>1100</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>E108C268-F184-4558-9BB6-35136285627A</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Get tasks</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1000</integer>
		</dict>
		<key>E2BDCA6C-9F6E-4CD3-A009-9953538552DB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>E4123136-A52E-4062-89E1-6713C4D8BE98</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>EEB4DE5E-13CD-49E5-B27A-6367425AAB34</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Save TaskPaper file to config
&gt; config:set</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>EEDE0FC2-77B7-4C1F-B387-BB537D47F622</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Show notification only if previous task not failed</string>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.2.1</string>
	<key>webaddress</key>
	<string>https://github.com/igrybkov/alfred-focus-on-work#readme</string>
</dict>
</plist>
